.codVenda{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-top: 0.6rem;
}

.lb-cod-venda{
    width: 100%;
    font-size: 30px;
    text-align: right;
    margin-top: 0.6rem;
}

#form-add-item{
    margin-top: 4rem;
}

.a-adicionar-prod-venda{
    margin-top: 2rem;
}

.b-adicionar-prod-venda{
    margin-top: 2rem;
}

.btn-finalizar-venda{
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.div-table-produtos-venda{
    margin-top: 1.5rem;
}
